{% extends 'adminhome.html' %}

{% block jumbotron %}

<script>
  function scAJAX(catnm){
    var xhttp = new XMLHttpRequest();
        xhttp.open("GET","http://127.0.0.1:8000/myadmin/scAJAX/?catnm="+catnm,true);
        xhttp.send();

        xhttp.onreadystatechange= function(){
            if(xhttp.status=200 && xhttp.readyState==4){
            document.getElementById('response').innerHTML = xhttp.responseText;
        }
        }
  }
</script>

<div class="container bg-dark text-white mt-3 ">
    <h1 class="text-center py-2">Add Product Here!!</h1>
  <form method="post" action="/myadmin/addproduct/" enctype="multipart/form-data">
    {% csrf_token %}
    {{output}}
    <table  >
        <tr>
          <td >Product Name </td>
          <td><input type="text" class="ml-2 my-2 p-1" name="ptitle" placeholder="Enter Product Name" id=""></td>
        </tr>
        <tr>
        <tr>
          <td >Category </td>
          <td><select onchange="scAJAX(this.value)" class="ml-2 my-2 p-1" name="pcategory" id="">
            <option>Select Category</option>
            {% for row in clist %}
            <option>{{row.catnm}}</option>
            {% endfor %}
            
          </select>
        </td>
      </tr>
      <tr>
        <td >Sub Category </td>
        <td><select  class="ml-2 my-2 p-1" name="psubcategory" id="response">
          <option>Select Sub-Category</option>
          {% for row in sclist %}
          <option>{{row.subcatnm}}</option>
          {% endfor %}
        </select>       
      </td>
        </tr>
        <tr>
          <td>Product Image  </td>
          <td><input type="file" name="picon" class="ml-1 p-1" ></td>
      </tr>
       <tr>
        <td>Product Description</td>
        <td><textarea class="ml-2 mt-3 mb-3 p-1" name="pdescription" id="" cols="22" rows="3" placeholder="Product Description"></textarea></td>
       <tr >
        <tr>
            <td>Product price</td>
            <td><input type="text" class="ml-2 mb-3 p-1" name="pprice" placeholder="Enter Product Price" id=""></td>
        </tr>
        <td><input class="ml-2 mt-3 mb-3 p-1" type="submit" value="Add Product"></td>
       </tr>
    </table>
  </form>
  </div>
{% endblock %}

