{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'leather.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Leatherworld.com</title>
</head>
<body>
    <div class="page">
    
    <!-- navbar BOOTSTRAP -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <h2 class="text-danger">Leatherworld.com</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        {% block navigation %}
        <div class="collapse navbar-collapse me-4 ms-2 " id="mynavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about/" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="/service/" class="nav-link">Service</a>
                </li>
                <li class="nav-item">
                    <a href="/contact/" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="/register/" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="/login/" class="nav-link">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}
    {% block starts %}

                <!-- Image-slider with carousel -->
    <div class="carousel slide" id="slides" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'image1.jpg' %}" alt="">
            </div>
            <div class="carousel-item">
                <img src="{% static 'image2.jpg' %}" alt="">
            </div>
            <div class="carousel-item">
                <img src="{% static 'image3.jpg' %}" alt="">
            </div>
        </div>
    </div>
    {% endblock %}

    {% block jumbotron %}
    <!-- Jumbotron -->
     <div class="container-fluid">
         <div class="row jumbotron">
             <div class="col-xs-12 col-md-10 col-lg-10 ">
                <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, dolorum quaerat. Cum possimus sed exercitationem similique fugiat harum cupiditate optio.</p>
            </div>
             <div class="col-xs-4 col-md-2 col-lg-2">            
                 <button class="btn btn-lg  p-1 text-white btn-css">click here</button>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block three %}

              <!-- Welcome page -->
    <div class="container-fluid text-center padding">
        <div class="row justify-content-center">
            <div class="col-12 mt-3">
                <h1>Built with ease.</h1>
                <hr class="mb-3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et ipsum possimus corporis. Tenetur aperiam cum doloribus eligendi? Corporis commodi, repudiandae reiciendis adipisci temporibus numquam!</p>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mb-2 p-2">
                <i class="fa fa-diamond fa-3x text-danger"></i>
                <h3>HTML5</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, vel?</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mb-2 p-2">
                <i class="fa fa-diamond fa-3x text-primary"></i>
                <h3>HTML5</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, vel?</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mb-2 p-2">
                <i class="fa fa-diamond fa-3x text-dark"></i>
                <h3>HTML5</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, vel?</p>
            </div>
        </div>
    </div>
    <hr class="my-3">
    {% endblock %}

                <!-- Two column section -->
    {% block two %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-6 mb-4">
                <h1>If you Built it...</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere perferendis eos, expedita deleniti inventore consequuntur fuga voluptas provident dolore quod.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque vero nam porro exercitationem corporis laboriosam earum magni at, non ducimus sint doloribus reprehenderit vitae. Quo consectetur maiores ipsa illum architecto ullam earum pariatur, rerum laborum velit soluta harum reiciendis praesentium?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quaerat deserunt cum officiis hic velit voluptates magni.</p>
                <button class="btn btn-lg btn-css text-white">Learn More</button>
            </div>
            <div class="col-md-12 col-lg-6 text-center text-lg-right ">
                <img src="{% static 'image3.jpg' %}" class="img-fluid " width="450px" height="300px"alt="">
            </div>
        </div>
    </div>
    <hr class="my-5">
    {% endblock %}

    {% block card %}
                        <!-- Fixed-background  -->

    <figure>
            <div class="container p-5">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="{% static 'image6.jpg' %}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h4>Card Heading</h4>
                                <p>Lorem, ipsum dolor sit. Autem harum expedita quibusdam inventore dolorum doloribus adipisci facere iusto magnam repudiandae?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, ipsam!</p>
                                <button class="btn btn-css">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="{% static 'image7.jpg' %}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h4>Card Heading</h4>
                                <p>Lorem, ipsuem harum expedita quibusdam inventore dolorum doloribus adipisci facere iusto magnam repudiandae?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, ipsam!</p>
                                <button class="btn btn-css">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="{% static 'image8.jpg' %}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h4>Card Heading</h4>
                                <p >Lorem, ipsum dolor sm harum expedita quibusdam inventore dolorum doloribus adipisci facere iusto magnam repudiandae?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, ipsam!</p>
                                <button class="btn btn-css">Learn More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </figure>
    <hr class="my-5">
    {% endblock %}
                                <!-- Two column section  -->
                                {% block service %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h3>Our Philosophy</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, reiciendis vero, sapiente dolores officiis similique veniam, perspiciatis perferendis asperiores aperiam reprehenderit. Esse porro qui explicabo.</p>
                <p>Lorem ipsuur,elit. Libero iusto mollitia magnam voluptatem pariatur dolorem adipisci laboriosam! Saepe doloremque inventore iste placeat error exercitationem consequuntur, at possimus explicabo vitae nobis velit, quis corrupti est pariatur eius laborum, ut dolorum molestias praesentium iusto! Dolores quae fugiat nisi iste cupiditate. Debitis, mollitia!</p>
            </div>
            <div class="col-lg-5 ml-4 text-center p-2 pt-3 pr-5">
                <div class="image2">
                <img src="{% static 'image2.jpg' %}" class="img-fluid" width="450px"alt="">
            </div>
            </div>
        </div>
    </div>    
    <hr class="my-5">
    {% endblock %}
                        <!-- Connect section -->
                        {% block connect %}
    <div class="container">
        <div class="row text-center justify-content-around">
            <div class="col-12 mb-5">
                <h2>Connect</h2>
            </div>
            <div class="col-2">
                <a href="https://facebook.com" target="_blank"> <i class="fa fa-facebook-f fa-3x facebook"></i> </a>
            </div>
            <div class="col-2">
                <a href="https://twitter.com" target="_blank"> <i class="fa fa-twitter-square fa-3x twitter"></i> </a>
            </div>
            <div class="col-2">
                <a href="https://instagram.com" target="_blank"> <i class="fa fa-instagram fa-3x instagram "></i> </a>
            </div>
            <div class="col-2">
                <a href="https://google.com" target="_blank"> <i class="fa fa-google fa-3x google"></i> </a>
            </div>
            <div class="col-2">
                <a href="https://youtube.com" target="_blank"> <i class="fa fa-youtube fa-3x you"></i> </a>
            </div>
        </div>
    </div>
    <hr class="my-5">

    {% endblock %}

                        <!-- footer  -->
    <footer>
        <div class="container-fluid bg-dark mt-4 text-white">
            <div class="row text-center">
                <div class="col-md-4 p-5 mb-0">
                    <hr class="horizontal">
                    <h3>My-Clients</h3>
                    <hr class="horizontal">
                    <p>555-555-5555</p>
                    <p>email@myemail.com</p>
                    <p>100 streat indore</p>
                    <p>city, state, 00000</p>
                </div>
                <div class="col-md-4 p-5">
                    <hr class="horizontal">
                    <h3>Our Hours</h3>
                    <hr class="horizontal">
                    <p>Monday. 9am-5pm</p>
                    <p>Monday. 9am-5pm</p>
                    <p>sunday. closed</p>
                </div>
               
                <div class="col-md-4 p-5">
                    <hr class="horizontal">
                    <h3>Service Areas</h3>
                    <hr class="horizontal">
                    <p>city, state, 00000</p>
                    <p>city, state, 00000</p>
                    <p>city, state, 00000</p>
                    <p>city, state, 00000</p>
                </div>
               <div class="col-md-12">
                   <hr class="horizontal">
                   <p class="lead"><i>&copy Leatherworld.com</i></p>
               </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>